<h3 class="section-header">{{localize "bolme.character.titles.armour"}}</h3>
<div class="armour-list">
{{#each armour}}
    <div class="armour-row">
    	<div>{{name}}</div>
    	<div><center>{{data.data.protection}}</center></div>
    	<div><center>{{data.data.arcaneCost}}</center></div>
    	<div><center>{{data.data.penalties}}</center></div>
		<div>
			<i class="item-icon fas fa-dice" data-damage="{{data.data.damage}}" data-type="{{data.data.type}}"></i>
			<i class="item-icon item-deleter fas fa-times-circle" data-id="{{id}}"></i>
		</div>
    </div>
{{/each}}

{{#if hasShield}}
<h4 class="section-header">Shields</h4>
{{#each shields}}
    <div class="armour-shield-row">
    	<div>{{name}}</div>
    	<div>{{localizeShieldSize data.data.size}}</div>
    	<div>
			<i class="item-icon item-deleter fas fa-times-circle" data-id="{{id}}"></i>	        	    		
    	</div>
    </div>
{{/each}}
{{/if}}
</div>
