<div class="armour-roll bolme-chat-message">
	<div class=" chat-message-header text-center">
		<span>{{actorName}} - {{localize "bolme.chat.armourRoll.header"}}</span>
		<br>
	</div>

	<div class="chat-message-roll-result">
		{{rollTotal}}
	</div>

    <div class="expander">
    	<div class="expander-header">{{localize "bolme.rolls.headers.details"}}</div>
    	<div class="hidden">
    		<div class="text-center">{{formula}}</div>
		    <div class="dice-row">
		{{#each dice}}
		    {{#each results}}
			    {{> "systems/bolme/templates/partials/dice-result.html" .}}
		    {{/each}}
		{{/each}}
		    </div>
    	</div>
    </div>
</div>