<div class="attack-roll bolme-chat-message">
	<div class=" chat-message-header text-center">
		<span>{{localize "bolme.chat.attackRoll.header"}} ({{actorName}})</span>
	</div>

	<div class="chat-message-roll-result">
			{{rollTotal}} - {{rollResultLevel resultLevel}}
	</div>

    <div class="expander">
    	<div class="expander-header">{{localize "bolme.rolls.headers.details"}}</div>
    	<div class="hidden">
    		<div class="text-center">{{formula}}</div>
		    <div class="dice-row">
		{{#each dice}}
		    {{#each results}}
			    {{> "systems/bolme/templates/partials/dice-result.html" .}}
		    {{/each}}
		{{/each}}
		    </div>

        {{#if debug}}
			<div class="chat-message-details">
				<div>
					<strong>{{localize "bolme.chat.attackRoll.actor"}}:</strong> {{actorName}}
				</div>
				<div>
					<strong>{{localize "bolme.chat.attackRoll.weapon"}}:</strong> {{weaponName}}
				</div>
				<div>
					<strong>{{localize "bolme.chat.attackRoll.formula"}}:</strong> {{formula}}
				</div>
				<div>
					<strong>{{localize "bolme.chat.attackRoll.total"}}:</strong> {{rollTotal}}
				</div>
			</div>
		{{/if}}
    	</div>
    </div>
</div>