<div class="attack-roll bolme-chat-message">
	<div class=" chat-message-header text-center">
	{{#if requiresRoll}}
		<span>{{localize "bolme.chat.spellCastRoll.header"}}</span>
		<br>
	{{/if}}
		<span>{{localize "bolme.chat.spellCastRoll.subheader" name=actorName spell=spellName}}</span>
	</div>

	<div class="chat-message-roll-result">
	{{#if automatic}}
	    {{{rollResultLevel "automatic"}}}
	{{else}}
		{{rollTotal}} - {{{rollResultLevel resultLevel}}}
	{{/if}}
	</div>

{{#if requiresRoll}}
    <div class="expander">
    	<div class="expander-header">{{localize "bolme.rolls.headers.details"}}</div>
    	<div class="hidden">
    		<div class="text-center">{{formula}}</div>
		    <div class="dice-row">
		{{#each dice}}
		    {{#each results}}
			    {{> "systems/bolme/templates/partials/dice-result.html" .}}
		    {{/each}}
		{{/each}}
		    </div>
    	</div>
    </div>
{{/if}}
</div>