{{log .}}
<form class="{{cssClass}} bolme-form" autocomplete="off">
	<div class="armour-sheet-body">
		<div>
			<img data-edit="img" src="{{item.img}}" title="{{item.name}}"/>
			<br><hr>

			<div class="field">
				<label class="label">{{localize "bolme.fields.armour.type.label"}}</label>
				<select class="expanded" name="system.type" value="{{item.system.type}}">
				{{#each constants.armourTypes}}
					{{{selectOption ../item.system.type}}}
				{{/each}}
				</select>
			</div>

			<div class="field">
				<label class="label">{{localize "bolme.fields.armour.protection.label"}}</label>
				<input name="system.protection" placeholder="{{localize 'bolme.fields.armour.protection.placeholder'}}" type="text" value="{{item.system.protection}}">
			</div>

			<div class="field">
				<label class="label">{{localize "bolme.fields.armour.arcaneCost.label"}}</label>
				<input name="system.arcaneCost" placeholder="{{localize 'bolme.fields.armour.arcaneCost.placeholder'}}" type="text" value="{{item.system.arcaneCost}}">
			</div>
		</div>

        <div>
			<div class="field">
				<label class="label">{{localize "bolme.fields.name.label"}}</label>
				<input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{item.name}}">
			</div>

			<div class="field">
				<label class="label">{{localize "bolme.fields.armour.penalties.label"}}</label>
				<input name="system.penalties" placeholder="{{localize 'bolme.fields.armour.penalties.placeholder'}}" type="text" value="{{item.system.penalties}}">
			</div>
			<hr>

            <div class="field">
                <label class="label" for="system.description">{{localize "bolme.fields.career.description.label"}}</label>
                {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>
	</div>
</form>
