<form class="{{cssClass}} beast-sheet-form" autocomplete="off">
	<div class="beast-sheet-body">
		<section>
			<img data-edit="img" height="190" src="{{actor.img}}" title="{{actor.name}}" width="190"/>
			<br><br>

            <section>
            	<h3 class="text-bold">{{localize "bolme.beasts.headers.attributes"}}</h3>
            	<hr>
            	<div class="attribute-list">
            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.attributes.strength.label"}}</label>
            			<div class="field">
            				<input name="system.strength" type="number" value="{{actor.system.strength}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.attributes.agility.label"}}</label>
            			<div class="field">
            				<input name="system.agility" type="number" value="{{actor.system.agility}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.attributes.mind.label"}}</label>
            			<div class="field">
            				<input name="system.mind" type="number" value="{{actor.system.mind}}">
            			</div>
            		</div>
            	</div>
            </section>

            <section>
            	<h3 class="text-bold">{{localize "bolme.beasts.headers.abilities"}}</h3>
            	<hr>
            	<div class="abilities-list">
            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.fields.beast.attack.label"}}</label>
            			<div class="field">
            				<input name="system.attack" type="number" value="{{actor.system.attack}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.fields.beast.defence.label"}}</label>
            			<div class="field">
            				<input name="system.defence" type="number" value="{{actor.system.defence}}">
            			</div>
            		</div>

            		<div class="attribute-list-row-text field">
        				<label>{{localize "bolme.fields.beast.damage.label"}}</label>
            			<div class="field">
            				<input name="system.damage" type="text" value="{{actor.system.damage}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.fields.beast.lifeblood.label"}}</label>
            			<div class="field">
            				<input name="system.lifeblood.max" type="number" value="{{actor.system.lifeblood.max}}">
            				<input name="system.lifeblood.value" type="hidden" value="{{actor.system.lifeblood.value}}">
            			</div>
            		</div>
            	</div>
            </section>

            <section>
            	<h3 class="text-bold">{{localize "bolme.fields.beast.protection.label"}}</h3>
            	<hr>

            	<div class="protection-list">
	        		<div class="attribute-list-row-text field">
	    				<label>{{localize "bolme.fields.beast.protection.roll.label"}}</label>
	        			<div class="field">
	        				<input name="system.protection.roll" type="text" value="{{actor.system.protection.roll}}">
	        			</div>
	        		</div>

	        		<div class="attribute-list-row field">
	    				<label>{{localize "bolme.fields.beast.protection.fixed.label"}}</label>
	        			<div class="field">
	        				<input name="system.protection.fixed" type="number" value="{{actor.system.protection.fixed}}">
	        			</div>
	        		</div>
            	</div>
            </section>
		</section>

		<section>
			<div class="field">
				<label>{{localize "bolme.fields.name.label"}}</label>
				<input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{actor.name}}">
			</div>

			<div class="grid-2-col">
				<div class="field">
					<label>{{localize "bolme.fields.beast.size.label"}}</label>
					<select class="expanded" name="system.size" value="{{actor.system.size}}">
						{{#each constants.sizes}}
						    {{{selectOption ../actor.system.size}}}
						{{/each}}
					</select>
				</div>

                <div class="field">
                	<label>{{localize "bolme.fields.beast.priority.label"}}</label>
					<select class="expanded" name="system.priority" value="{{actor.system.priority}}">
						{{#each constants.priorities}}
						    {{{selectOption ../actor.system.priority}}}
						{{/each}}
					</select>
                </div>
			</div>

			<div class="field">
				<label>{{localize "bolme.fields.beast.found.label"}}</label>
				<input name="system.found" type="text" value="{{actor.system.found}}">
			</div>
			<br>

            <div class="field">
                <label class="label" for="system.description">{{localize "bolme.fields.beast.description.label"}}</label>
                {{editor actor.system.description target="system.description" button=true owner=owner editable=editable}}
            </div>
			<br>

            {{> "systems/bolme/templates/partials/traits-list.html" .}}
		</section>
	</div>
</form>