<form class="{{cssClass}} character-sheet-form" autocomplete="off">
	<header class="character-sheet-header">
		<div class="field">
			<label class="label">{{localize "bolme.fields.name.label"}}</label>
			<input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{actor.name}}">
		</div>
	</header>

	<section class="character-sheet-tabs">
		<ul>
			<li class="tab-selector {{tabActiveCheck 'front_page' 'selected' ''}}" data-id="front_page">{{localize "bolme.tabs.frontPage"}}</li>
			<li><i class="fas fa-grip-lines-vertical tab-separator"></i></li>
			<li class="tab-selector {{tabActiveCheck 'equipment_page' 'selected' ''}}" data-id="equipment_page">{{localize "bolme.tabs.equipment"}}</li>
			<li><i class="fas fa-grip-lines-vertical tab-separator"></i></li>
			<li class="tab-selector {{tabActiveCheck 'magic_page' 'selected' ''}}" data-id="magic_page">{{localize "bolme.tabs.magic"}}</li>
			<li><i class="fas fa-grip-lines-vertical tab-separator"></i></li>
			<li class="tab-selector {{tabActiveCheck 'crafting_page' 'selected' ''}}" data-id="crafting_page">{{localize "bolme.tabs.crafting"}}</li>
			<li><i class="fas fa-grip-lines-vertical tab-separator"></i></li>
			<li class="tab-selector {{tabActiveCheck 'notes_page' 'selected' ''}}" data-id="notes_page">{{localize "bolme.tabs.notes"}}</li>
		</ul>
	</section>

    <section>
		<section class="character-sheet-body tab-body {{tabActiveCheck 'front_page' '' 'hidden'}}" id="front_page">
			<div>
				<h3 class="section-header">{{localize "bolme.character.titles.attributes"}}</h3>
				<div class="character-sheet-attributes">
					<!-- Strength -->
				    <label class="attribute-label">{{localize "bolme.attributes.strength.label"}}</label>
				    <div>
				    	<i class="attribute-icon attribute-decrementer fas fa-minus" data-attribute="strength"></i>
				    	<input class="characteristic" readonly type="number" value="{{data.data.strength.value}}">
				    	<i class="attribute-icon attribute-incrementer fas fa-plus" data-attribute="strength"></i>
				    	<i class="attribute-icon fas fa-dice"></i>
				    </div>

					<!-- Agility -->
				    <label class="attribute-label">{{localize "bolme.attributes.agility.label"}}</label>
				    <div>
				    	<i class="attribute-icon attribute-decrementer fas fa-minus" data-attribute="agility"></i>
				    	<input class="characteristic" readonly type="number" value="{{data.data.agility.value}}">
				    	<i class="attribute-icon attribute-incrementer fas fa-plus" data-attribute="agility"></i>
				    	<i class="attribute-icon fas fa-dice"></i>
				    </div>

					<!-- Mind -->
				    <label class="attribute-label">{{localize "bolme.attributes.mind.label"}}</label>
				    <div>
				    	<i class="attribute-icon attribute-decrementer fas fa-minus" data-attribute="mind"></i>
				    	<input class="characteristic" readonly type="number" value="{{data.data.mind.value}}">
				    	<i class="attribute-icon attribute-incrementer fas fa-plus" data-attribute="mind"></i>
				    	<i class="attribute-icon fas fa-dice"></i>
				    </div>

					<!-- Appeal -->
				    <label class="attribute-label">{{localize "bolme.attributes.appeal.label"}}</label>
				    <div>
				    	<i class="attribute-icon attribute-decrementer fas fa-minus" data-attribute="appeal"></i>
				    	<input class="characteristic" readonly type="number" value="{{data.data.appeal.value}}">
				    	<i class="attribute-icon attribute-incrementer fas fa-plus" data-attribute="appeal"></i>
				    	<i class="attribute-icon fas fa-dice"></i>
				    </div>

				</div>

				<h3 class="section-header">{{localize "bolme.character.titles.combat"}}</h3>
				<div class="character-sheet-combat">
					<!-- Initiative -->
				    <label class="attribute-label">{{localize "bolme.combat.initiative.label"}}</label>
				    <div>
				    	<i class="attribute-icon combat-ability-decrementer fas fa-minus" data-ability="initiative"></i>
				    	<input class="characteristic" readonly type="number" value="{{data.data.initiative.value}}">
				    	<i class="attribute-icon combat-ability-incrementer fas fa-plus" data-ability="initiative"></i>
				    	<i class="attribute-icon fas fa-dice"></i>
				    </div>

					<!-- Melee -->
				    <label class="attribute-label">{{localize "bolme.combat.melee.label"}}</label>
				    <div>
				    	<i class="attribute-icon combat-ability-decrementer fas fa-minus" data-ability="melee"></i>
				    	<input class="characteristic" readonly type="number" value="{{data.data.melee.value}}">
				    	<i class="attribute-icon combat-ability-incrementer fas fa-plus" data-ability="melee"></i>
				    	<i class="attribute-icon fas fa-dice"></i>
				    </div>

					<!-- Ranged -->
				    <label class="attribute-label">{{localize "bolme.combat.ranged.label"}}</label>
				    <div>
				    	<i class="attribute-icon combat-ability-decrementer fas fa-minus" data-ability="ranged"></i>
				    	<input class="characteristic" readonly type="number" value="{{data.data.ranged.value}}">
				    	<i class="attribute-icon combat-ability-incrementer fas fa-plus" data-ability="ranged"></i>
				    	<i class="attribute-icon fas fa-dice"></i>
				    </div>

					<!-- Defence -->
				    <label class="attribute-label">{{localize "bolme.combat.defence.label"}}</label>
				    <div>
				    	<i class="attribute-icon combat-ability-decrementer fas fa-minus" data-ability="defence"></i>
				    	<input class="characteristic" readonly type="number" value="{{data.data.defence.value}}">
				    	<i class="attribute-icon combat-ability-incrementer fas fa-plus" data-ability="defence"></i>
				    	<i class="attribute-icon fas fa-dice"></i>
				    </div>

				</div>

	            <h3 class="section-header">{{localize "bolme.character.titles.careers"}}</h3>
				<div class="character-sheet-careers">
				{{#each data.careers}}
				    <div class="character-career-row">
				    	<div class="character-career-name">{{name}}</div>
					    <div>
					    	<i class="career-icon career-decrementer fas fa-minus" data-id="{{id}}"></i>
					    	<input class="characteristic" name="rank" readonly type="number" value="{{rank}}">
					    	<i class="career-icon career-incrementer fas fa-plus" data-id="{{id}}"></i>	
					    	<i class="career-icon fas fa-dice" data-career="{{name}}"></i>
					    	<i class="career-deleter career-icon fas fa-times-circle" data-id="{{id}}"></i>
					    </div>
				    </div>
				{{/each}}
				</div>

	        	<br>

	        	<h3 class="section-header">{{localize "bolme.character.titles.languages"}}</h3>
	        	<div class="character-sheet-languages">
	        	{{#each data.languages}}
	        	    <div class="character-language-row">
	        	    	<div class="character-language-name">{{name}}</div>
	        	    	<div>
	        	    		<i class="fas fa-info-circle info-icon language-icon" data-description="{{data.data.description}}"></i>
	        	    		<i class="language-deleter language-icon fas fa-times-circle" data-id="{{id}}"></i>
	        	    	</div>
	        	    </div>
	        	{{/each}}
	        	</div>
			</div>

			<div>
				<div class="character-sheet-combat-equipment">
					<h3 class="section-header">{{localize "bolme.character.titles.weapons"}}</h3>
					<div class="character-sheet-weapons-area">
						<div>
							<div class="character-sheet-weapons-list">
							{{#each data.weapons}}
								<div class="character-weapon-row">
									<div>{{name}}</div>
									<div><center>{{localizeWeaponType data.data.type}}</center></div>
									<div><center>{{data.data.damage}}</center></div>
									<div>
										<i class="attack-icon fas fa-dice weapon-icon" data-actor="{{actor.id}}" data-weapon="{{id}}"></i>
										<i class="fas fa-times-circle item-deleter weapon-icon" data-id="{{id}}"></i>
									</div>
								</div>
							{{/each}}
						    </div>
						</div>
					</div>

		        	<h3 class="section-header">{{localize "bolme.character.titles.armour"}}</h3>
		        	<div class="character-sheet-armour-area">
		        	{{#each data.armour}}
		        	    <div class="character-armour-row">
		        	    	<div>{{name}}</div>
		        	    	<div><center>{{data.data.protection}}</center></div>
		        	    	<div><center>{{data.data.arcaneCost}}</center></div>
		        	    	<div><center>{{data.data.penalties}}</center></div>
							<div>
								<i class="item-icon fas fa-dice" data-damage="{{data.data.damage}}" data-type="{{data.data.type}}"></i>
								<i class="item-icon item-deleter fas fa-times-circle" data-id="{{id}}"></i>
							</div>
		        	    </div>
		        	{{/each}}

	            {{#if data.hasShield}}
		        	<h4 class="section-header">Shields</h4>
		        	{{#each data.shields}}
		        	    <div class="character-shield-row">
		        	    	<div>{{name}}</div>
		        	    	<div>{{localizeShieldSize data.data.size}}</div>
		        	    	<div>
								<i class="item-icon item-deleter fas fa-times-circle" data-id="{{id}}"></i>	        	    		
		        	    	</div>
		        	    </div>
		        	{{/each}}
		        {{/if}}
		        	</div>

		            <h3 class="section-header">{{localize "bolme.character.titles.traits"}}</h3>
		        	<div class="character-sheet-boons-and-flaws-area">
		        	{{#each data.boons}}
		        	    <div class="character-trait-row">
		        	    	<div>{{name}}</div>
		        	    	<div>{{localizeTraitType data.data.type}}</div>
		        	    	<div>
		        	    		<i class="fas fa-info-circle info-icon trait-icon" data-description="{{data.data.description}}"></i>
								<i class="fas fa-times-circle trait-icon trait-deleter" data-id="{{id}}"></i>	        	    		
		        	    	</div>
		        	    </div>
		        	{{/each}}

		        	{{#each data.flaws}}
		        	    <div class="character-trait-row">
		        	    	<div>{{name}}</div>
		        	    	<div>{{localizeTraitType data.data.type}}</div>
		        	    	<div>
		        	    		<i class="fas fa-info-circle info-icon trait-icon" data-description="{{data.data.description}}"></i>
								<i class="trait-icon trait-deleter fas fa-times-circle" data-id="{{id}}"></i>	        	    		
		        	    	</div>
		        	    </div>
		        	{{/each}}
		        	</div>
				</div>
			</div>

			<div class="character-sheet-body-col-3">
	            <center>
					<div>
						<img data-edit="img" src="{{actor.img}}" title="{{actor.name}}"/>
					</div>
					<hr><hr>
				</center>

		        <div class="character-sheet-other-stats">
		        	<!-- Lifeblood -->
		        	<div>
	        			<label class="label text-center">{{localize "bolme.fields.character.lifeblood.label"}}</label>
		        		<div class="grid-2-col">
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.lifeblood.maximum.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="data.lifeblood.max" readonly type="number" value="{{data.data.lifeblood.max}}">
		        				</center>
		        			</div>
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.lifeblood.current.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="data.lifeblood.value" type="number" value="{{data.data.lifeblood.value}}">
		        				</center>
		        			</div>
		        		</div>
		        	</div>

		        	<!-- Arcane -->
		        	<div>
	        			<label class="label text-center">{{localize "bolme.fields.character.arcane.label"}}</label>
		        		<div class="grid-2-col">
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.arcane.maximum.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="data.arcanePoints.max" readonly type="number" value="{{data.data.arcanePoints.max}}">
		        				</center>
		        			</div>
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.arcane.current.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="data.arcanePoints.value" type="number" value="{{data.data.arcanePoints.value}}">
		        				</center>
		        			</div>
		        		</div>
		        	</div>

		        	<!-- Advance Points -->
		        	<div>
	        			<label class="label text-center">{{localize "bolme.fields.character.advancement.label"}}</label>
		        		<div class="grid-2-col">
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.advancement.available.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="data.points.advancement" type="number" value="{{data.data.points.advancement}}">
		        				</center>
		        			</div>
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.advancement.spent.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="data.spentAdvancements" readonly type="number" value="{{data.data.spentAdvancements}}">
		        				</center>
		        			</div>
		        		</div>
		        	</div>

	                <!-- Fate & Hero Points -->
		        	<div class="grid-2-col">
		        		<div class="field">
		        			<label class="label text-center">{{localize "bolme.fields.character.fatePoints.label"}}</label>
		        			<center>
		        				<input class="characteristic" name="data.fatePoints.value" type="number" value="{{data.data.fatePoints.value}}">
		        			</center>
		        		</div>

		        		<div class="field">
		        			<label class="label text-center">{{localize "bolme.fields.character.heroPoints.label"}}</label>
		        			<center>
		        				<input class="characteristic" name="data.heroPoints" type="number" value="{{data.data.heroPoints}}">
		        			</center>
		        		</div>
		        	</div>
		        </div>
			</div>
		</section>

		<section class="character-sheet-equipment-body tab-body {{tabActiveCheck 'equipment_page' '' 'hidden'}}" id="equipment_page">
			<div>
				<h2>{{localize "bolme.character.titles.equipment.general"}}</h2>
				<div class="equipment-list general-equipment-list">
				{{#each data.equipment}}
				    <div class="equipment-row">
				    	<div>{{name}}</div>
				    	<div>
				    		<i class="fas fa-info-circle info-icon" data-description="{{data.data.description}}"></i>
				    		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
				    	</div>
				    </div>
				{{/each}}
				</div>
			</div>

			<div>
				<div>
					<h2>{{localize "bolme.character.titles.equipment.armsAndArmour"}}</h2>
				    <div class="arms-and-armour-list equipment-list">
					{{#each data.weapons}}
					    <div class="equipment-row">
					    	<div>{{name}}</div>
					    	<div>
					    		<i class="fas fa-info-circle info-icon" data-description="{{data.data.description}}"></i>
					    		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
					    	</div>
					    </div>
					{{/each}}
					{{#each data.armour}}
					    <div class="equipment-row">
					    	<div>{{name}}</div>
					    	<div>
					    		<i class="fas fa-info-circle info-icon" data-description="{{data.data.description}}"></i>
					    		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
					    	</div>
					    </div>
					{{/each}}
					{{#each data.shields}}
					    <div class="equipment-row">
					    	<div>{{name}}</div>
					    	<div>
					    		<i class="fas fa-info-circle info-icon" data-description="{{data.data.description}}"></i>
					    		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
					    	</div>
					    </div>
					{{/each}}
				    </div>
				</div>

				<div>
					<h2>{{localize "bolme.character.titles.equipment.consumables"}}</h2>
					<div class="consumables-list equipment-list">
					{{#each data.consumables}}
					    {{log data.data}}
					    <div class="equipment-consumable-row">
					    	<div>{{name}}</div>
					    	<div>{{data.data.uses.value}}/{{data.data.uses.max}}</div>
					    	<div>
					    		<i class="fas fa-minus consumable-decrementer" data-actor="{{actor.id}}" data-item="{{id}}"></i>
					    		<i class="fas fa-plus consumable-incrementer" data-actor="{{actor.id}}" data-item="{{id}}"></i>
					    		<i class="fas fa-info-circle info-icon" data-description="{{data.data.description}}"></i>
					    		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
					    	</div>
					    </div>
					{{/each}}
					</div>
				</div>
			</div>
		</section>

		<section class="character-sheet-magic-body tab-body {{tabActiveCheck 'magic_page' '' 'hidden'}}" id="magic_page">
			<center class="header-field">
				<div class="field horizontal-field">
					<label class="label">{{localize "bolme.fields.character.arcane.header" maximum=data.data.arcanePoints.max}}</label>
					<input name="data.arcanePoints.current" readonly type="number" value="{{data.data.arcanePoints.value}}">
				</div>
			</center>
		{{#if data.spells.hasCantrip}}
		    <h2>{{localize "bolme.spells.magnitudes.titles.cantrip"}}</h2>
		    <div class="spell-list">
		    {{#each data.spells.cantrip}}
		        <div class="spell-row">
		        	<div>{{name}}</div>
		        	<div>{{data.data.cost}} AP</div>
		        	<div>
		        		<i class="fas fa-magic spell-cast-icon" data-actor="{{actor.id}}" data-spell="{{id}}"></i>
		        		<i class="fas fa-info-circle info-icon" data-description="{{data.data.description}}"></i>
		        		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
		        	</div>
		        </div>
		    {{/each}}
		    </div>
		    <br>
		{{/if}}

		{{#if data.spells.hasFirst}}
		    <h2>{{localize "bolme.spells.magnitudes.titles.first"}}</h2>
		    <div class="spell-list">
		    {{#each data.spells.first}}
		        <div class="spell-row">
		        	<div>{{name}}</div>
		        	<div>{{data.data.cost}} AP</div>
		        	<div>
		        		<i class="fas fa-magic spell-cast-icon" data-actor="{{actor.id}}" data-spell="{{id}}"></i>
		        		<i class="fas fa-info-circle info-icon" data-description="{{data.data.description}}"></i>
		        		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
		        	</div>
		        </div>
		    {{/each}}
		    </div>
		    <br>
		{{/if}}

		{{#if data.spells.hasSecond}}
		    <h2>{{localize "bolme.spells.magnitudes.titles.second"}}</h2>
		    <div class="spell-list">
		    {{#each data.spells.second}}
		        <div class="spell-row">
		        	<div>{{name}}</div>
		        	<div>{{data.data.cost}} AP</div>
		        	<div>
		        		<i class="fas fa-magic spell-cast-icon" data-actor="{{actor.id}}" data-spell="{{id}}"></i>
		        		<i class="fas fa-info-circle info-icon" data-description="{{data.data.description}}"></i>
		        		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
		        	</div>
		        </div>
		    {{/each}}
		    </div>
		    <br>
		{{/if}}

		{{#if data.spells.hasThird}}
		    <h2>{{localize "bolme.spells.magnitudes.titles.third"}}</h2>
		    <div class="spell-list">
		    {{#each data.spells.third}}
		        <div class="spell-row">
		        	<div>{{name}}</div>
		        	<div>{{data.data.cost}} AP</div>
		        	<div>
		        		<i class="fas fa-magic spell-cast-icon" data-actor="{{actor.id}}" data-spell="{{id}}"></i>
		        		<i class="fas fa-info-circle info-icon" data-description="{{data.data.description}}"></i>
		        		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
		        	</div>
		        </div>
		    {{/each}}
		    </div>
		{{/if}}
		</section>

		<section class="character-sheet-crafting-body tab-body {{tabActiveCheck 'crafting_page' '' 'hidden'}}" id="crafting_page">

			<div class="float-right horizontal-field">
				<label class="label">{{localize "bolme.fields.crafting.points.label" maximum=data.data.craftingPoints.max}} </label>
				<input name="data.craftingPoints.value" readonly type="number" value="{{data.data.craftingPoints.value}}">
				<i class="crafting-point-reset fas fa-undo" title="{{localize 'bolme.fields.crafting.points.reset.title'}}"></i>
			</div>
		    <h3 class="header3">{{localize "bolme.crafting.recipes.header"}}</h3>
			<hr>
			<div class="crafting-recipe-list">
			{{#each data.recipes}}
			    <div class="crafting-recipe-row" data-id="{{id}}">
			    	<div>{{name}}</div>
			    	<div>
			    		<i class="fas fa-minus crafting-progress-decrementer" data-actor="{{actorId}}" data-recipe="{{id}}"></i>
			    		<progress value="{{progress}}" max="{{cost}}"></progress>
			    		<i class="fas fa-plus crafting-progress-incrementer" data-actor="{{actorId}}" data-recipe="{{id}}"></i>
			    	</div>
			    	<div>
			    	{{#if complete}}
			    	    <button class="roll-crafting small-button" data-id="{{id}}" type="button">{{localize "bolme.buttons.roll"}}</button>
			    	{{else}}
			    	    <button class="small-button" disabled type="button">{{localize "bolme.buttons.roll"}}</button>
			    	{{/if}}
			    	</div>
			    	<div>
			    		<i class="fas fa-times-circle recipe-deleter" data-id="{{id}}"></i>
			    	</div>
			    </div>
			{{/each}}
			</div>
		</section>

		<section class="character-sheet-notes-body tab-body {{tabActiveCheck 'notes_page' '' 'hidden'}}" id="notes_page">
			<div class="field">
				<label class="label">{{localize "bolme.fields.character.background.label"}}</label>
				<textarea class="background-textarea" name="data.background">{{data.data.background}}</textarea>
			</div>

			<hr>

			<div class="field">
				<label class="label">{{localize "bolme.fields.character.notes.label"}}</label>
				<textarea class="notes-textarea" name="data.notes">{{data.data.notes}}</textarea>
			</div>
		</section>
	<section>

{{#if data.data.starting}}
	<section class="starting-points-bar">
		<div>{{localize "bolme.startingPoints.attributes.label"}}: {{data.data.points.starting.attributes}}</div>
		<div>{{localize "bolme.startingPoints.combat.label"}}: {{data.data.points.starting.combat}}</div>
		<div>{{localize "bolme.startingPoints.careers.label"}}: {{data.data.points.starting.careers}}</div>
		<div>{{localize "bolme.startingPoints.traits.label"}}: {{data.data.points.starting.traits}}</div>
	</section>
{{/if}}
</form>