<form class="{{cssClass}} bolme-character-sheet bolme-sheet character-sheet-form" autocomplete="off">
	<header class="character-sheet-header">
		<div class="field">
			<label class="label">{{localize "bolme.fields.name.label"}}</label>
			<input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{name}}">
		</div>
	</header>

	<section class="sheet-tabs">
		<center>
			<ul>
				<li class="tab-selector {{tabActiveCheck 'front_page' 'selected' ''}}" data-id="front_page">{{localize "bolme.tabs.frontPage"}}</li>
				<li><i class="fas fa-grip-lines-vertical tab-separator"></i></li>
				<li class="tab-selector {{tabActiveCheck 'equipment_page' 'selected' ''}}" data-id="equipment_page">{{localize "bolme.tabs.equipment"}}</li>
				<li><i class="fas fa-grip-lines-vertical tab-separator"></i></li>
				<li class="tab-selector {{tabActiveCheck 'magic_page' 'selected' ''}}" data-id="magic_page">{{localize "bolme.tabs.magic"}}</li>
				<li><i class="fas fa-grip-lines-vertical tab-separator"></i></li>
				<li class="tab-selector {{tabActiveCheck 'crafting_page' 'selected' ''}}" data-id="crafting_page">{{localize "bolme.tabs.crafting"}}</li>
				<li><i class="fas fa-grip-lines-vertical tab-separator"></i></li>
				<li class="tab-selector {{tabActiveCheck 'notes_page' 'selected' ''}}" data-id="notes_page">{{localize "bolme.tabs.notes"}}</li>
			</ul>
		</center>
	</section>

    <section>
		<section class="character-sheet-body tab-body {{tabActiveCheck 'front_page' '' 'hidden'}}" id="front_page">
			<div>
				<h3 class="section-header">{{localize "bolme.character.titles.attributes"}}</h3>
				<div class="character-sheet-attributes">
					<!-- Strength -->
				    <label class="attribute-label">{{localize "bolme.attributes.strength.label"}}</label>
				    <div>
				    	<i class="attribute-icon attribute-decrementer fas fa-minus" data-attribute="strength"></i>
				    	<input class="characteristic" readonly type="number" value="{{system.strength.value}}">
				    	<i class="attribute-icon attribute-incrementer fas fa-plus" data-attribute="strength"></i>
				    	<i class="attribute-icon fas fa-dice task-roll" data-actor="{{actor.id}}" data-attribute="strength"></i>
				    </div>

					<!-- Agility -->
				    <label class="attribute-label">{{localize "bolme.attributes.agility.label"}}</label>
				    <div>
				    	<i class="attribute-icon attribute-decrementer fas fa-minus" data-attribute="agility"></i>
				    	<input class="characteristic" readonly type="number" value="{{system.agility.value}}">
				    	<i class="attribute-icon attribute-incrementer fas fa-plus" data-attribute="agility"></i>
				    	<i class="attribute-icon fas fa-dice task-roll" data-actor="{{actor.id}}" data-attribute="agility"></i>
				    </div>

					<!-- Mind -->
				    <label class="attribute-label">{{localize "bolme.attributes.mind.label"}}</label>
				    <div>
				    	<i class="attribute-icon attribute-decrementer fas fa-minus" data-attribute="mind"></i>
				    	<input class="characteristic" readonly type="number" value="{{system.mind.value}}">
				    	<i class="attribute-icon attribute-incrementer fas fa-plus" data-attribute="mind"></i>
				    	<i class="attribute-icon fas fa-dice task-roll" data-actor="{{actor.id}}" data-attribute="mind"></i>
				    </div>

					<!-- Appeal -->
				    <label class="attribute-label">{{localize "bolme.attributes.appeal.label"}}</label>
				    <div>
				    	<i class="attribute-icon attribute-decrementer fas fa-minus" data-attribute="appeal"></i>
				    	<input class="characteristic" readonly type="number" value="{{system.appeal.value}}">
				    	<i class="attribute-icon attribute-incrementer fas fa-plus" data-attribute="appeal"></i>
				    	<i class="attribute-icon fas fa-dice task-roll" data-actor="{{actor.id}}" data-attribute="appeal"></i>
				    </div>

				</div>

				<h3 class="section-header">{{localize "bolme.character.titles.combat"}}</h3>
				<div class="character-sheet-combat">
					<!-- Initiative -->
				    <label class="attribute-label">{{localize "bolme.combat.initiative.label"}}</label>
				    <div>
				    	<i class="attribute-icon combat-ability-decrementer fas fa-minus" data-ability="initiative"></i>
				    	<input class="characteristic" readonly type="number" value="{{system.initiative.value}}">
				    	<i class="attribute-icon combat-ability-incrementer fas fa-plus" data-ability="initiative"></i>
				    </div>

					<!-- Melee -->
				    <label class="attribute-label">{{localize "bolme.combat.melee.label"}}</label>
				    <div>
				    	<i class="attribute-icon combat-ability-decrementer fas fa-minus" data-ability="melee"></i>
				    	<input class="characteristic" readonly type="number" value="{{system.melee.value}}">
				    	<i class="attribute-icon combat-ability-incrementer fas fa-plus" data-ability="melee"></i>
				    	<i class="attack-icon attribute-icon fas fa-dice" data-actor="{{actor.id}}" data-ability="melee"></i>
				    </div>

					<!-- Ranged -->
				    <label class="attribute-label">{{localize "bolme.combat.ranged.label"}}</label>
				    <div>
				    	<i class="attribute-icon combat-ability-decrementer fas fa-minus" data-ability="ranged"></i>
				    	<input class="characteristic" readonly type="number" value="{{system.ranged.value}}">
				    	<i class="attribute-icon combat-ability-incrementer fas fa-plus" data-ability="ranged"></i>
				    	<i class="attack-icon attribute-icon fas fa-dice" data-actor="{{actor.id}}" data-ability="ranged"></i>
				    </div>

					<!-- Defence -->
				    <label class="attribute-label">{{localize "bolme.combat.defence.label"}}</label>
				    <div>
				    	<i class="attribute-icon combat-ability-decrementer fas fa-minus" data-ability="defence"></i>
				    	<input class="characteristic" readonly type="number" value="{{system.defence.value}}">
				    	<i class="attribute-icon combat-ability-incrementer fas fa-plus" data-ability="defence"></i>
				    </div>

				</div>

				{{> "systems/bolme/templates/partials/careers-list.html" system}}
	        	<br>

	        	<h3 class="section-header">{{localize "bolme.character.titles.languages"}}</h3>
	        	<div class="character-sheet-languages">
	        	{{#each system.languages}}
	        	    <div class="language-row">
	        	    	<div class="language-name" title="{{name}}">{{name}}</div>
	        	    	<div>
	        	    		<i class="fas fa-info-circle info-icon language-icon" data-description="{{system.description}}"></i>
	        	    		<i class="language-deleter language-icon fas fa-times-circle" data-id="{{id}}"></i>
	        	    	</div>
	        	    </div>
	        	{{/each}}
	        	</div>
			</div>

			<div>
				<div class="character-sheet-combat-equipment">
					{{> "systems/bolme/templates/partials/weapons-list.html" system}}
					<br>
		        	{{> "systems/bolme/templates/partials/armour-list.html" system}}
					<br>
				</div>

				<div class="character-sheet-traits">
					{{> "systems/bolme/templates/partials/traits-list.html" system}}
				</div>
			</div>

			<div class="character-sheet-body-col-3">
	            <center>
					<div>
						<img class="actor-portrait" data-edit="img" src="{{img}}" title="{{name}}"/>
					</div>
					<hr><hr>
				</center>

		        <div class="character-sheet-other-stats">
		        	<!-- Lifeblood -->
		        	<div>
	        			<label class="label text-center">{{localize "bolme.fields.character.lifeblood.label"}}</label>
		        		<div class="grid-2-col">
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.lifeblood.maximum.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="system.lifeblood.max" readonly type="number" value="{{system.lifeblood.max}}">
		        				</center>
		        			</div>
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.lifeblood.current.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="system.lifeblood.value" type="number" value="{{system.lifeblood.value}}">
		        				</center>
		        			</div>
		        		</div>
		        	</div>

		        	<!-- Arcane -->
		        	<div>
	        			<label class="label text-center">{{localize "bolme.fields.character.arcane.label"}}</label>
		        		<div class="grid-2-col">
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.arcane.maximum.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="system.arcanePoints.max" readonly type="number" value="{{system.arcanePoints.max}}">
		        				</center>
		        			</div>
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.arcane.current.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="system.arcanePoints.value" type="number" value="{{system.arcanePoints.value}}">
		        				</center>
		        			</div>
		        		</div>
		        	</div>

		        	<!-- Advance Points -->
		        	<div>
	        			<label class="label text-center">{{localize "bolme.fields.character.advancement.label"}}</label>
		        		<div class="grid-2-col">
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.advancement.available.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="system.points.advancement" type="number" value="{{system.points.advancement}}">
		        				</center>
		        			</div>
		        			<div>
		        				<label class="label text-center">{{localize "bolme.fields.character.advancement.spent.label"}}</label>
		        				<center>
		        					<input class="characteristic" name="system.spentAdvancements" readonly type="number" value="{{system.spentAdvancements}}">
		        				</center>
		        			</div>
		        		</div>
		        	</div>

	                <!-- Fate & Hero Points -->
		        	<div class="grid-2-col">
		        		<div class="field">
		        			<label class="label text-center">{{localize "bolme.fields.character.fatePoints.label"}}</label>
		        			<center>
		        				<input class="characteristic" name="system.fatePoints.value" type="number" value="{{system.fatePoints.value}}">
		        			</center>
		        		</div>

		        		<div class="field">
		        			<label class="label text-center">{{localize "bolme.fields.character.heroPoints.label"}}</label>
		        			<center>
		        				<input class="characteristic" name="system.heroPoints" type="number" value="{{system.heroPoints}}">
		        			</center>
		        		</div>
		        	</div>
		        </div>
			</div>
		</section>

		<section class="character-sheet-equipment-body tab-body {{tabActiveCheck 'equipment_page' '' 'hidden'}}" id="equipment_page">
			<div>
				<h2>{{localize "bolme.character.titles.equipment.general"}}</h2>
				<div class="equipment-list general-equipment-list">
				{{#each system.equipment}}
				    <div class="equipment-row">
				    	<div>{{name}}</div>
				    	<div>
				    		<i class="fas fa-info-circle info-icon" data-description="{{system.description}}"></i>
				    		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
				    	</div>
				    </div>
				{{/each}}
				</div>
			</div>

			<div>
				<div>
					<h2>{{localize "bolme.character.titles.equipment.armsAndArmour"}}</h2>
				    <div class="arms-and-armour-list equipment-list">
					{{#each system.weapons}}
					    <div class="equipment-row">
					    	<div>{{name}}</div>
					    	<div>
					    		<i class="fas fa-info-circle info-icon" data-description="{{system.description}}"></i>
					    		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
					    	</div>
					    </div>
					{{/each}}
					{{#each system.armour}}
					    <div class="equipment-row">
					    	<div>{{name}}</div>
					    	<div>
					    		<i class="fas fa-info-circle info-icon" data-description="{{system.description}}"></i>
					    		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
					    	</div>
					    </div>
					{{/each}}
					{{#each system.shields}}
					    <div class="equipment-row">
					    	<div>{{name}}</div>
					    	<div>
					    		<i class="fas fa-info-circle info-icon" data-description="{{system.description}}"></i>
					    		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
					    	</div>
					    </div>
					{{/each}}
				    </div>
				</div>

				<div>
					<h2>{{localize "bolme.character.titles.equipment.consumables"}}</h2>
					<div class="consumables-list equipment-list">
					{{#each system.consumables}}
					    <div class="equipment-consumable-row">
					    	<div>{{name}}</div>
					    	<div>{{system.uses.value}}/{{system.uses.max}}</div>
					    	<div>
					    		<i class="fas fa-minus consumable-decrementer" data-actor="{{actor.id}}" data-item="{{id}}"></i>
					    		<i class="fas fa-plus consumable-incrementer" data-actor="{{actor.id}}" data-item="{{id}}"></i>
					    		<i class="fas fa-info-circle info-icon" data-description="{{system.description}}"></i>
					    		<i class="fas fa-times-circle item-deleter" data-id="{{id}}"></i>
					    	</div>
					    </div>
					{{/each}}
					</div>
				</div>
			</div>
		</section>

		<section class="character-sheet-magic-body tab-body {{tabActiveCheck 'magic_page' '' 'hidden'}}" id="magic_page">
			<center class="header-field">
				<div class="field horizontal-field">
					<label class="label">{{localize "bolme.fields.character.arcane.header" maximum=system.arcanePoints.max}}</label>
					<input name="system.arcanePoints.current" readonly type="number" value="{{system.arcanePoints.value}}">
					<i class="fas fa-undo-alt reset-arcane-icon" data-actor="{{actor.id}}" title="{{localize 'bolme.icons.arcane.reset.titles'}}"></i>
				</div>
			</center>
		{{#if system.spells.hasCantrip}}
		    <h2>{{localize "bolme.spells.magnitudes.titles.cantrip"}}</h2>
		    {{> "systems/bolme/templates/partials/spell-list.html" system.spells.cantrip}}
		    <br>
		{{/if}}

		{{#if system.spells.hasFirst}}
		    <h2>{{localize "bolme.spells.magnitudes.titles.first"}}</h2>
		    {{> "systems/bolme/templates/partials/spell-list.html" system.spells.first}}
		    <br>
		{{/if}}

		{{#if system.spells.hasSecond}}
		    <h2>{{localize "bolme.spells.magnitudes.titles.second"}}</h2>
		    {{> "systems/bolme/templates/partials/spell-list.html" system.spells.second}}
		    <br>
		{{/if}}

		{{#if system.spells.hasThird}}
		    <h2>{{localize "bolme.spells.magnitudes.titles.third"}}</h2>
		    {{> "systems/bolme/templates/partials/spell-list.html" system.spells.third}}
		{{/if}}
		</section>

		<section class="character-sheet-crafting-body tab-body {{tabActiveCheck 'crafting_page' '' 'hidden'}}" id="crafting_page">
            <br>
			<div class="float-right horizontal-field">
				<label class="label">{{localize "bolme.fields.crafting.points.label" maximum=system.craftingPoints.max}} </label>
				<input name="system.craftingPoints.value" readonly type="number" value="{{system.craftingPoints.value}}">
				<i class="crafting-point-reset fas fa-undo" title="{{localize 'bolme.fields.crafting.points.reset.title'}}"></i>
			</div>
		    <h3 class="header3">{{localize "bolme.crafting.recipes.header"}}</h3>
			<hr>
			<div class="crafting-recipe-list">
			{{#each system.recipes}}
			    <div class="crafting-recipe-row" data-id="{{id}}">
			    	<div>{{name}}</div>
			    	<div>
			    		<i class="fas fa-minus crafting-progress-decrementer" data-actor="{{actorId}}" data-recipe="{{id}}"></i>
			    		<progress value="{{progress}}" max="{{cost}}"></progress>
			    		<i class="fas fa-plus crafting-progress-incrementer" data-actor="{{actorId}}" data-recipe="{{id}}"></i>
			    	</div>
			    	<div>
			    	{{#if complete}}
			    	    <button class="roll-crafting small-button" data-id="{{id}}" type="button">{{localize "bolme.buttons.roll"}}</button>
			    	{{else}}
			    	    <button class="small-button" disabled type="button">{{localize "bolme.buttons.roll"}}</button>
			    	{{/if}}
			    	</div>
			    	<div>
			    		<i class="fas fa-times-circle recipe-deleter" data-id="{{id}}"></i>
			    	</div>
			    </div>
			{{/each}}
			</div>
		</section>

		<section class="character-sheet-notes-body tab-body {{tabActiveCheck 'notes_page' '' 'hidden'}}" id="notes_page">
			<div class="field">
				<label class="label">{{localize "bolme.fields.character.background.label"}}</label>
				<textarea class="background-textarea" name="system.background">{{system.background}}</textarea>
			</div>

			<hr>

			<div class="field">
				<label class="label">{{localize "bolme.fields.character.notes.label"}}</label>
				<textarea class="notes-textarea" name="system.notes">{{system.notes}}</textarea>
			</div>
		</section>
	<section>

{{#if system.starting}}
	<section class="starting-points-bar">
		<div>{{localize "bolme.startingPoints.attributes.label"}}: {{system.points.starting.attributes}}</div>
		<div>{{localize "bolme.startingPoints.combat.label"}}: {{system.points.starting.combat}}</div>
		<div>{{localize "bolme.startingPoints.careers.label"}}: {{system.points.starting.careers}}</div>
		<div>{{localize "bolme.startingPoints.traits.label"}}: {{system.points.starting.traits}}</div>
	</section>
{{/if}}
</form>