<form class="{{cssClass}} crafting-sheet-form bolme-form" autocomplete="off" data-id="{{item.id}}">
	<div class="crafting-recipe-sheet-body">
		<div>
			<img class="item-image-large" data-edit="img" height="100" src="{{item.img}}" title="{{item.name}}"/>
		</div>

		<div>
            <div class="field">
                <label class="label" for="name">{{localize "bolme.fields.name.label"}}</label>
                <input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{item.name}}"/>
            </div>

            <div class="grid-4-col">
	            <div class="field">
	                <label class="label" for="system.type">{{localize "bolme.fields.recipe.type.label"}}</label>
					<select class="expanded type-selector" name="system.type" value="{{item.system.type}}">
						{{#each constants.recipeTypes}}
						    {{{selectOption ../item.system.type}}}
						{{/each}}
					</select>
				</div>

				<div class="field">
					<label class="label" for="system.cost">{{localize "bolme.fields.recipe.cost.label"}}</label>
					<input name="system.cost" placeholder="{{localize 'bolme.fields.recipe.cost.placeholder'}}" readonly type="number" value="{{item.system.cost}}">
				</div>

	            <div class="field">
	                <label class="label" for="system.difficulty">{{localize "bolme.fields.recipe.difficulty.label"}}</label>
					<select class="expanded" name="system.difficulty" value="{{item.system.difficulty}}">
						{{#each constants.recipeDifficulties}}
						    {{{selectOption ../item.system.difficulty}}}
						{{/each}}
					</select>
				</div>

	            <div class="field">
	                <label class="label" for="system.subtype">{{localize "bolme.fields.recipe.subtype.label"}}</label>
					<select class="expanded" name="system.subtype" value="{{item.system.subtype}}">
						{{#each constants.recipeSubtypes}}
						    {{{selectOption ../item.system.subtype}}}
						{{/each}}
					</select>
				</div>
			</div>


            <div class="field">
                <label class="label" for="system.description">{{localize "bolme.fields.recipe.description.label"}}</label>
                {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
            </div>

            <hr>

            <div class="crafting-recipe-sheet-product">
            	<h3>{{localize "bolme.crafting.recipes.item.product.title"}}</h3>
            {{#if hasProduct}}
                <div class="crafting-recipe-product-row">
                	<div>{{item.system.item.name}}</div>
                	<div class="grid-3-col">
                		<i class="fas fa-minus quantity-decrementer"></i>
                		<center>{{item.system.item.quantity}}</center>
                		<i class="fas fa-plus quantity-incrementer"></i>
                	</div>
                	<div>
                		<i class="fas fa-times-circle product-deleter"></i>
                	</div>
                </div>
            {{else}}
                <center>{{localize "bolme.crafting.recipes.item.unset.blurb"}}</center>
            {{/if}}
            </div>
		</div>
	</div>
</form>
