<form class="{{cssClass}} armour-sheet-form" autocomplete="off" data-id="{{item.id}}">
	<div class="crafting-recipe-sheet-body">
		<div>
			<img class="item-image-large" data-edit="img" height="100" src="{{item.img}}" title="{{item.name}}"/>
		</div>

		<div>
            <div class="field">
                <label class="label" for="name">{{localize "bolme.fields.name.label"}}</label>
                <input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{item.name}}"/>
            </div>

            <div class="grid-3-col">
	            <div class="field">
	                <label class="label" for="data.type">{{localize "bolme.fields.recipe.type.label"}}</label>
					<select class="expanded type-selector" name="data.type" value="{{data.data.type}}">
						{{#each constants.recipeTypes}}
						    {{{selectOption ../data.data.type}}}
						{{/each}}
					</select>
				</div>

	            <div class="field">
	                <label class="label" for="data.subtype">{{localize "bolme.fields.recipe.subtype.label"}}</label>
					<select class="expanded" name="data.subtype" value="{{data.data.subtype}}">
						{{#each constants.recipeSubtypes}}
						    {{{selectOption ../data.data.subtype}}}
						{{/each}}
					</select>
				</div>

				<div class="field">
					<label class="label" for="data.cost">{{localize "bolme.fields.recipe.cost.label"}}</label>
					<input name="data.cost" placeholder="{{localize 'bolme.fields.recipe.cost.placeholder'}}" readonly type="number" value="{{data.data.cost}}">
				</div>
			</div>


            <div class="field">
                <label class="label" for="data.description">{{localize "bolme.fields.recipe.description.label"}}</label>
                {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
            </div>

            <hr>

            <div class="crafting-recipe-sheet-product">
            	<h3>{{localize "bolme.crafting.recipes.item.product.title"}}</h3>
            {{#if data.hasProduct}}
                <div class="crafting-recipe-product-row">
                	<div>{{data.data.item.name}}</div>
                	<div class="grid-3-col">
                		<i class="fas fa-minus quantity-decrementer"></i>
                		<center>{{data.data.item.quantity}}</center>
                		<i class="fas fa-plus quantity-incrementer"></i>
                	</div>
                	<div>
                		<i class="fas fa-times-circle product-deleter"></i>
                	</div>
                </div>
            {{else}}
                <center>{{localize "bolme.crafting.recipes.item.unset.blurb"}}</center>
            {{/if}}
            </div>
		</div>
	</div>
</form>
