<form class="{{cssClass}}" autocomplete="off">
	<div class="device-sheet-body">
		<div>
			<img class="item-image-large" data-edit="img" height="100" src="{{item.img}}" title="{{item.name}}"/>
		</div>

		<div>
            <div class="field">
                <label class="label" for="name">{{localize "bolme.fields.name.label"}}</label>
                <input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{item.name}}"/>
            </div>

            <div class="field">
                <label class="label" for="data.description">{{localize "bolme.fields.device.description.label"}}</label>
                {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
            </div>

		</div>
	</div>
</form>