<form class="{{cssClass}} bolme-form" autocomplete="off">
	<div class="equipment-sheet-body">
		<div>
			<img class="item-image-large" data-edit="img" height="100" src="{{item.img}}" title="{{item.name}}"/>
		</div>

		<div>
            <div class="field">
                <label class="label" for="name">{{localize "bolme.fields.name.label"}}</label>
                <input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{item.name}}"/>
            </div>

            <div class="field">
                <label class="label" for="system.description">{{localize "bolme.fields.equipment.description.label"}}</label>
                {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
            </div>
		</div>
	</div>
</form>