<form class="{{cssClass}} bolme-form" autocomplete="off">
	<div class="language-sheet-body">
		<div class="field">
			<label class="label">{{localize "bolme.fields.name.label"}}</label>
			<input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{item.name}}">
		</div>

        <div class="field">
            <label class="label" for="system.description">{{localize "bolme.fields.language.description.label"}}</label>
            {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>
