<form class="{{cssClass}} npc-sheet-form" autocomplete="off">
	<div class="npc-sheet-body">
		<section>
			<img data-edit="img" height="190" src="{{actor.img}}" title="{{actor.name}}" width="190"/>
			<br><br>

            <section>
                <div class="attribute-list-row-select field">
                	<label>{{localize "bolme.fields.npc.priority.label"}}</label>
					<select class="expanded" name="system.priority" value="{{actor.system.priority}}">
						{{#each constants.priorities}}
						    {{{selectOption ../actor.system.priority}}}
						{{/each}}
					</select>
                </div>
            </section>
            <br>

            <section>
            	<h3 class="text-bold">{{localize "bolme.npcs.headers.attributes"}}</h3>
            	<hr>
            	<div class="attribute-list">
            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.attributes.strength.label"}}</label>
            			<div class="field">
            				<input name="system.strength" type="number" value="{{actor.system.strength}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.attributes.agility.label"}}</label>
            			<div class="field">
            				<input name="system.agility" type="number" value="{{actor.system.agility}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.attributes.mind.label"}}</label>
            			<div class="field">
            				<input name="system.mind" type="number" value="{{actor.system.mind}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.attributes.appeal.label"}}</label>
            			<div class="field">
            				<input name="system.appeal" type="number" value="{{actor.system.appeal}}">
            			</div>
            		</div>
            	</div>
            </section>

            <section>
            	<h3 class="text-bold">{{localize "bolme.npcs.headers.abilities"}}</h3>
            	<hr>
            	<div class="abilities-list">
            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.fields.npc.initiative.label"}}</label>
            			<div class="field">
            				<input name="system.initiative" type="number" value="{{actor.system.initiative}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.fields.npc.melee.label"}}</label>
            			<div class="field">
            				<input name="system.melee" type="number" value="{{actor.system.melee}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.fields.npc.ranged.label"}}</label>
            			<div class="field">
            				<input name="system.ranged" type="number" value="{{actor.system.ranged}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.fields.npc.defence.label"}}</label>
            			<div class="field">
            				<input name="system.defence" type="number" value="{{actor.system.defence}}">
            			</div>
            		</div>

            		<div class="attribute-list-row field">
        				<label>{{localize "bolme.fields.npc.lifeblood.label"}}</label>
            			<div class="field">
            				<input name="system.lifeblood.max" type="number" value="{{actor.system.lifeblood.max}}">
            				<input name="system.lifeblood.value" type="hidden" value="{{actor.system.lifeblood.value}}">
            			</div>
            		</div>
            	</div>
            </section>

            <section>
            	<h3 class="text-bold">{{localize "bolme.npcs.headers.other"}}</h3>
            	<hr>

        		<div class="attribute-list-row field">
    				<label>{{localize "bolme.fields.npc.arcanePoints.label"}}</label>
        			<div class="field">
        				<input name="system.arcanePoints.max" type="number" value="{{actor.system.arcanePoints.max}}">
        				<input name="system.arcanePoints.value" type="hidden" value="{{actor.system.arcanePoints.value}}">
        			</div>
        		</div>

        		<div class="attribute-list-row field">
    				<label>{{localize "bolme.fields.npc.fatePoints.label"}}</label>
        			<div class="field">
        				<input name="system.fatePoints.max" type="number" value="{{actor.system.fatePoints.max}}">
        				<input name="system.fatePoints.value" type="hidden" value="{{actor.system.fatePoints.value}}">
        			</div>
        		</div>

        		<div class="attribute-list-row field">
    				<label>{{localize "bolme.fields.npc.villainPoints.label"}}</label>
        			<div class="field">
        				<input name="system.villainPoints.max" type="number" value="{{actor.system.villainPoints.max}}">
        				<input name="system.villainPoints.value" type="hidden" value="{{actor.system.villainPoints.value}}">
        			</div>
        		</div>
            </section>
		</section>

		<section>
			<div class="field">
				<label>{{localize "bolme.fields.name.label"}}</label>
				<input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{actor.name}}">
			</div>

			<section class="sheet-tabs">
				<center>
					<ul>
						<li class="tab-selector {{tabActiveCheck 'front_page' 'selected' ''}}" data-id="front_page">{{localize "bolme.tabs.frontPage"}}</li>
						<li><i class="fas fa-grip-lines-vertical tab-separator"></i></li>
						<li class="tab-selector {{tabActiveCheck 'magic_page' 'selected' ''}}" data-id="magic_page">{{localize "bolme.tabs.magic"}}</li>
					</ul>
				</center>
			</section>

            <section class="tab-body {{tabActiveCheck 'front_page' '' 'hidden'}}" id="front_page">
				<div class="npc-weapons">
					{{> "systems/bolme/templates/partials/weapons-list.html" .}}
				</div>
				<br>

				<div class="npc-armour">
					{{> "systems/bolme/templates/partials/armour-list.html" .}}
				</div>
				<br>

				<div class="npc-careers">
					{{> "systems/bolme/templates/partials/careers-list.html" .}}
				</div>
				<br>

				<div class="npc-traits">
					{{> "systems/bolme/templates/partials/traits-list.html" .}}
				</div>
				<br>

	            <div class="field">
	                <label class="label" for="system.description">{{localize "bolme.fields.beast.description.label"}}</label>
	                {{editor actor.system.description target="system.description" button=true owner=owner editable=editable}}
	            </div>
            </section>

	        <section class="tab-body {{tabActiveCheck 'magic_page' '' 'hidden'}}" id="magic_page">
				<center class="header-field">
					<div class="field horizontal-field">
						<label class="label">{{localize "bolme.fields.character.arcane.header" maximum=actor.system.arcanePoints.max}}</label>
						<input name="system.arcanePoints.current" readonly type="number" value="{{actor.system.arcanePoints.value}}">
						<i class="fas fa-undo-alt reset-arcane-icon" data-actor="{{actor.id}}" title="{{localize 'bolme.icons.arcane.reset.titles'}}"></i>
					</div>
				</center>
			{{#if spells.hasCantrip}}
			    <h2>{{localize "bolme.spells.magnitudes.titles.cantrip"}}</h2>
			    {{> "systems/bolme/templates/partials/spell-list.html" spells.cantrip}}
			    <br>
			{{/if}}

			{{#if spells.hasFirst}}
			    <h2>{{localize "bolme.spells.magnitudes.titles.first"}}</h2>
			    {{> "systems/bolme/templates/partials/spell-list.html" spells.first}}
			    <br>
			{{/if}}

			{{#if spells.hasSecond}}
			    <h2>{{localize "bolme.spells.magnitudes.titles.second"}}</h2>
			    {{> "systems/bolme/templates/partials/spell-list.html" spells.second}}
			    <br>
			{{/if}}

			{{#if spells.hasThird}}
			    <h2>{{localize "bolme.spells.magnitudes.titles.third"}}</h2>
			    {{> "systems/bolme/templates/partials/spell-list.html" spells.third}}
			{{/if}}

	        </section>
		</section>
	</div>
</form>
