<form class="{{cssClass}} bolme-form" autocomplete="off">
	<div class="shield-sheet-body">
		<div>
			<img data-edit="img" src="{{item.img}}" title="{{item.name}}"/>

			<br><hr>

			<div class="field">
				<label class="label">{{localize "bolme.fields.shield.size.label"}}</label>
				<select class="expanded" name="system.size">
					{{#each constants.shieldSizes}}
					    {{{selectOption ../system.size}}}
					{{/each}}
				</select>
			</div>
		</div>

        <div>
			<div class="field">
				<label class="label">{{localize "bolme.fields.name.label"}}</label>
				<input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{item.name}}">
			</div>

            <div class="field">
                <label class="label" for="system.description">{{localize "bolme.fields.shield.description.label"}}</label>
                {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>
	</div>
</form>
