{{log .}}
<form class="{{cssClass}} bolme-form" autocomplete="off">
	<div class="trait-sheet-body">
		<div>
			<img data-edit="img" src="{{item.img}}" title="{{item.name}}"/>
		</div>

        <div>
			<div class="field">
				<label class="label">{{localize "bolme.fields.name.label"}}</label>
				<input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{item.name}}">
			</div>

			<div class="field">
				<label class="label">{{localize "bolme.fields.trait.type.label"}}</label>
				<select name="system.type" value="{{item.system.type}}">
					{{#each constants.traitTypes}}
					    {{{selectOption ../item.system.type}}}
					{{/each}}
				</select>
			</div>

            <div class="field">
                <label class="label" for="system.description">{{localize "bolme.fields.trait.description.label"}}</label>
                {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>
	</div>
</form>
