<form class="{{cssClass}} bolme-form" autocomplete="off">
	<div class="weapon-sheet-body">
		<div>
			<img data-edit="img" src="{{item.img}}" title="{{item.name}}"/>

			<br><hr>

			<div class="field">
				<label class="label">{{localize "bolme.fields.weapon.type.label"}}</label>
				<select class="expanded" name="system.type" value="{{system.type}}">
					{{#each constants.weaponTypes}}
					    {{{selectOption ../item.system.type}}}
					{{/each}}
				</select>
			</div>

			<div class="field">
				<label class="label">{{localize "bolme.fields.weapon.hands.label"}}</label>
				<select class="expanded" name="system.hands" value="{{system.hands}}">
					{{#each constants.weaponHands}}
					    {{{selectOption ../item.system.hands}}}
					{{/each}}
				</select>
			</div>

			<div class="field">
				<label class="label">{{localize "bolme.fields.weapon.damage.label"}}</label>
				<input name="system.damage" placeholder="{{localize 'bolme.fields.weapon.damage.placeholder'}}" type="text" value="{{item.system.damage}}">
			</div>

			<div class="field">
				<label class="label">{{localize "bolme.fields.weapon.rangeIncrement.label"}}</label>
				<input name="system.rangeIncrement" placeholder="{{localize 'bolme.fields.weapon.rangeIncrement.placeholder'}}" type="text" value="{{item.system.rangeIncrement}}">
			</div>
		</div>

        <div>
			<div class="field">
				<label class="label">{{localize "bolme.fields.name.label"}}</label>
				<input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{item.name}}">
			</div>

			<div class="field">
				<label class="label">{{localize "bolme.fields.weapon.notes.label"}}</label>
				<input name="system.notes" placeholder="{{localize 'bolme.fields.weapon.notes.placeholder'}}" type="text" value="{{item.system.notes}}">
			</div>


            <div class="field">
                <label class="label" for="system.description">{{localize "bolme.fields.weapon.description.label"}}</label>
                {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>
	</div>
</form>
