<form class="{{cssClass}} bolme-form" autocomplete="off">
	<div class="weapon-sheet-body">
		<div>
			<img data-edit="img" src="{{item.img}}" title="{{item.name}}"/>
		</div>

        <div>
			<div class="field">
				<label class="label">{{localize "bolme.fields.name.label"}}</label>
				<input name="name" placeholder="{{localize 'bolme.fields.name.placeholder'}}" type="text" value="{{item.name}}">
			</div>

            <div class="grid-4-col">
				<div class="field">
					<label class="label">{{localize "bolme.fields.weapon.damage.label"}}</label>
					<input name="data.damage" placeholder="{{localize 'bolme.fields.weapon.damage.placeholder'}}" type="text" value="{{data.data.damage}}">
				</div>

				<div class="field">
					<label class="label">{{localize "bolme.fields.weapon.type.label"}}</label>
					<select class="expanded" name="data.type" value="{{data.data.type}}">
						{{#each constants.weaponTypes}}
						    {{{selectOption ../data.data.type}}}
						{{/each}}
					</select>
				</div>

				<div class="field">
					<label class="label">{{localize "bolme.fields.weapon.hands.label"}}</label>
					<select class="expanded" name="data.hands" value="{{data.data.hands}}">
						{{#each constants.weaponHands}}
						    {{{selectOption ../data.data.hands}}}
						{{/each}}
					</select>
				</div>

				<div class="field">
					<label class="label">{{localize "bolme.fields.weapon.rangeIncrement.label"}}</label>
					<input name="data.rangeIncrement" placeholder="{{localize 'bolme.fields.weapon.rangeIncrement.placeholder'}}" type="text" value="{{data.data.rangeIncrement}}">
				</div>
			</div>

			<div class="field">
				<label class="label">{{localize "bolme.fields.weapon.notes.label"}}</label>
				<input name="data.notes" placeholder="{{localize 'bolme.fields.weapon.notes.placeholder'}}" type="text" value="{{data.data.notes}}">
			</div>


            <div class="field">
                <label class="label" for="data.description">{{localize "bolme.fields.weapon.description.label"}}</label>
                {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
        </div>
	</div>
</form>
