.armour-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 100px auto;
}

.attack-dialog-title {
	font-size: 1.1em;
	font-weight: bold;
	margin: 5px 0;
	text-align: center;
}

.attack-dialog-form {
/*	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 110px 110px 110px 110px;*/
}

.attack-dialog-form input[type=number] {
	text-align: center !important;
}

.attribute-icon {
	cursor: pointer;
	font-size: 1.1em;
	margin: 0 2px;
}

.attribute-label {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	margin: 2px 0;
	vertical-align: middle;
}

.background-image {
	border: none;
	margin:  0;
}

.career-icon {
	cursor: pointer;
	font-size: 1.1em;
	margin: 0 2px;
}

.career-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 100px auto;
}

.character-armour-row {
	display: grid;
	font-size: 1.1em;
	grid-gap: 5px 15px;
	grid-template-columns: auto 50px 50px 150px 60px;
}

.character-career-name {
	font-size: 1.2em;
}

.character-career-row {
	display: grid;
	grid-gap: 5px 15px;
	grid-template-columns: 2fr 3fr;
	margin-bottom: 5px;
}

.character-language-name {
	cursor: pointer;
	font-size: 1.2em;
}

.character-language-row {
	display: grid;
	grid-gap: 5px 15px;
	grid-template-columns: auto 60px;
}

.character-sheet-armour-area {
	height: 125px;
	max-height: 125px;
	overflow: auto;
}

.character-sheet-attributes {
	display: grid;
	grid-gap: 5px 15px;
	grid-template-columns: 3fr 5fr;
	margin-bottom: 15px;
}

.character-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 270px auto 150px;
	margin: 0 0 15px 10px;
}

.character-sheet-combat {
	display: grid;
	grid-gap: 5px 15px;
	grid-template-columns: 3fr 5fr;
	margin-bottom: 15px;
}

.character-sheet-combat-equipment > div {
	margin-bottom: 15px;
}

.character-sheet-form input {
	border: none;
}

.character-sheet-header {
	margin-bottom: 15px;
}

.character-sheet-languages {
	max-height: 150px;
	overflow: auto;
}

.character-sheet-other-stats > div {
	margin-bottom: 15px;
}

.character-sheet-other-stats .label {
	margin: 0;
}

.character-sheet-traits-area {
	display: grid;
	grid-gap: 5px 15px;
	grid-template-columns: 3fr 1fr;
	max-height: 320px;
	overflow: auto;
}

.character-sheet-weapons-area {
}

.character-sheet-weapons-list {
	height: 200px;
	max-height: 200px;
	overflow: auto;
}

.character-shield-row {
	display: grid;
	font-size: 1.1em;
	grid-gap: 5px 15px;
	grid-template-columns: auto 75px 30px;
}

.character-trait-row {
	display: grid;
	font-size: 1.1em;
	grid-gap: 5px 15px;
	grid-template-columns: auto 100px 60px;
	margin-bottom: 5px;
}

.character-weapon-row {
	display: grid;
	font-size: 1.1em;
	grid-gap: 5px 15px;
	grid-template-columns: 3fr 100px 75px 60px;
	margin-bottom: 5px;
}

.chat-message-details {
	font-size: 0.8em;
}

.chat-message-header {
	font-size: 1.2em;
	font-weight: bold;
}

.chat-message-roll-result {
	font-size: 1.1em;
	margin: 5px 0;
	text-align: center;
}

.d6-result {
	background-color: #fff;
	border: solid 1px #555;
	border-radius: 3px;
	font-size: 0.9em;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin:  3px;
	text-align: center;
	width: 25px;
}

.dice-row {
	display: grid;
	grid-gap: 3px 3px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.discard-die {
	background-color: #ffb3b3;
}

.editor {
	height: 200px;
}

.editor-content {
	height: 200px;
}

.expanded {
	width:  100%;
}

.expander {
	border: solid 1px #aaa;
	margin:  3px 0;
}

.expander > div:nth-child(2) {
	border-top: solid 1px #aaa;
	padding: 3px 0;
}

.expander-header {
	color:  #666;
	cursor: pointer;
	font-weight: bold;
	padding:  3px 0;
	text-align: center;
}

.field {
	margin-bottom: 5px;
}

.field input,select {
	background-color: #fff !important;
}

.field input::placeholder {
	color: #ccc;
}

.grid-2-col {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 1fr 1fr;
}

.grid-3-col {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-4-col {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-5-col {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

h3.section-header {
	border-bottom: groove; 4px #777;
	font-size: 1.3em;
	font-weight: bold;
	height: 30px;
}

h4.section-header {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 20px;
}

.hidden {
	display: none;
}

.info-dialog-content {
	border: groove 3px;
	font-size: 1.1em;
	margin: 5px 0;
	max-height: 500px;
	overflow: auto;
	padding: 5px 10px;
	text-align: justify;
}

input.characteristic {
	background-color: #fff !important;
	text-align: center !important;
	width: 35px;
}

input:readonly {
	color: #aaa !important;
}

.item-icon {
	cursor: pointer;
}

.label {
	display: block;
	font-weight: bold;
	margin: 2px 0;
}

.shield-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 100px auto;
}

.starting-points-bar {
	background-color: #00a;
	color: yellow;
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 3px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.text-left {
	text-align: right;
}

.trait-icon {
	cursor: pointer;
}

.trait-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 100px auto;
}

.weapon-icon {
	cursor: pointer;
	margin: 0 2px;
}

.weapon-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 100px auto;
}