.armour-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 100px auto;
}

.career-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 100px auto;
}

.editor {
	height: 200px;
}

.editor-content {
	height: 200px;
}

.expanded {
	width:  100%;
}

.field {
	margin-bottom: 5px;
}

.field input,select {
	background-color: #fff !important;
}

.field input::placeholder {
	color: #ccc;
}

.grid-2-col {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 1fr 1fr;
}

.grid-3-col {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-4-col {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-5-col {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.label {
	display: block;
	font-weight: bold;
	margin: 2px 0;
}

.shield-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 100px auto;
}

.trait-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 100px auto;
}

.weapon-sheet-body {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 100px auto;
}